@page
@model _20180805.Pages.AppProfiles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppProfile[0].AppProfileID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppProfile[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppProfile[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppProfile[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppProfile[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppProfile[0].Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppProfile[0].Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppProfile[0].VSTS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppProfile[0].SqlServer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppProfile[0].Server)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AppProfile) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppProfileID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VSTS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SqlServer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Server.ServerID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AppProfileID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AppProfileID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AppProfileID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
