@page
@model _20180805.Pages.Servers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Server</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Server.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Server.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Server.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Server.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Server.Owner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Server.Owner)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Server.ServerID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
